$bg-color: yellow;
$border-color: red;
body {
  padding: 0;
  margin: 0;
  background: burlywood;
  background-color: #040333;
}

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  color: white; // background: url(../img/photos/woman_wide_2.jpg) no-repeat center center fixed;
  // background: url(../img/photos/woman_wide_2.jpg);
  background-image: url("../img/photos/woman_wide_2.jpg");
  background-repeat: no-repeat;
  background-size: 130% 100%;
  background-position: top;
  ul {
    list-style-type: none;
  }
}