@media screen and (max-width: 2100px) {
  #bg {
    // background-image: url("../img/photos/woman_wide_2.jpg") !important;
    // background-size: 2100px 600px !important;
    background-position: center !important;
  }
}

@media screen and (max-width: 1200px) {
  #bg {
    background-image: url("../img/photos/900-1330-b-2-c-banner@2x.png") !important;
    // background-size: 1200px auto !important;
  }
}

@media screen and (max-width: 900px) {
  #bg {
    background-image: url("../img/photos/600-900-b-2-c-banner@2x.png") !important;
    // background-size: 900px auto !important;
  }

  div.content .title {
    font-size: 35px !important;
  }
}

/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
  div.content .title {
    font-size: 30px !important;
  }

  #bg {
    background-image: url("../img/photos/0-600-b-2-c-banner@2x.png") !important;
    // background-size: 600px auto !important;
  }

  .al-show {
    flex-wrap: wrap !important;
  }

  div.content .started {
    margin-top: 2em !important;
    margin-bottom: 1em !important;
  }
}
