@media screen and (max-width: 2100px) {
  #bg {
    background-position: center !important;
  }
}

@media screen and (max-width: 1500px) {
  h1.title {
    font-size: 35px !important;
  }
}

@media screen and (max-width: 1200px) {
  #bg {
    background-image: url("../img/photos/900-1330-b-2-c-banner@2x.png") !important;
  }

  div.al-show {
    h3.sub {
      font-size: 18px !important;
    }

    p {
      font-size: 14px !important;
    }
  }

  h1.title {
    font-size: 35px !important;
  }
}

@media screen and (max-width: 900px) {
  #bg {
    background-image: url("../img/photos/600-900-b-2-c-banner@2x.png") !important;
    // background-size: 900px auto !important;
  }

  div.content .title {
    font-size: 25px !important;
  }

  div.content {
    .started {
      margin-top: 20px !important;
    }
  }

  div.al-show {
    flex-flow: column nowrap !important;
    align-items: center !important;

    h3.sub {
      white-space: nowrap !important;
    }

    p {
      font-size: 14px !important;
    }
  }
}

/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
  div.content .title {
    font-size: 17px !important;
  }

  #bg {
    background-image: url("../img/photos/0-600-b-2-c-banner@2x.png") !important;
    // background-size: 600px auto !important;
  }

  .al-show {
    flex-wrap: wrap !important;
  }

  div.content .started {
    margin-top: 3em !important;
    margin-bottom: 3em !important;
    font-size: 13px;
  }
}
