@media only screen and (max-width: 768px) {
  .app {
    background-size: 1050px 470px !important;
    background-position: 75% 0% !important;
  }
}

@media only screen and (min-width: 1366px) {
  .app {
    background-size: 2000px 550px !important;
  }
}

// @media only screen and (min-width: 600px) {}
// @media only screen and (min-width: 768px) {}
// @media only screen and (min-width: 992px) {}
// @media only screen and (min-width: 1200px) {}
