@media only screen and (max-width: 768px) {
  .app {
    background-size: 800px 500px !important;
    background-position: 66% 0% !important;
  }
}

@media only screen and (min-width: 1366px) {
  .app {
    background-size: 2000px 700px !important;
  }
}

// @media only screen and (min-width: 600px) {}
// @media only screen and (min-width: 768px) {}
// @media only screen and (min-width: 992px) {}
// @media only screen and (min-width: 1200px) {}
