div.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 75vh;
  padding-top: 80px;
  // background: rgba(231, 158, 0, 0.4);
  // background-blend-mode: multiply;
  // background-image: linear-gradient(rgba(231, 158, 0, 0.6), rgba(231, 158, 0, 0.3));

  p {
    text-align: center;
  }

  .title {
    // font-family: FuturaStd;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    font-weight: normal;
    font-style: oblique;
    font-stretch: condensed;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .acc {
    margin-bottom: 45px;
    font-size: 15px !important;
  }

  .started {
    width: 272px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    outline-style: none;
    // font-family: HelveticaNeue;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: #b57100;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 20px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .register {
    width: 272px;
    height: 50px;
    border: solid 2px #fff;
    background: transparent;
    outline-style: none;
    // font-family: HelveticaNeue;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    opacity: 0.8;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    margin-bottom: 65px;

    &:hover {
      opacity: 1;
    }
  }

  .exp {
    // margin-bottom: auto;
    font-size: 14px;
  }

  .al-show {
    width: 100%;
    min-height: 240px;
    background-color: #fff;
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    .cont {
      width: 300px;
      margin: 12px 50px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding: 40px 2px;

      .sub {
        // font-family: HelveticaNeue;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1d1d1d;
      }

      .content {
        // font-family: HelveticaNeue;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: center;
        color: #444;
      }
    }
  }
}
