@media only screen and (max-width: 900px) {
  div.content {
    .title {
      transform: scaleY(1.6);
    }

    .al-show {
      .cont {
        padding: 10px 2px;

        .sub {
          font-size: 18px !important;
          margin-bottom: 20px;
        }

        .content {
          font-size: 14px !important;
        }
      }
    }

    .exp {
      display: none !important;
    }

    .acc {
      font-size: 14px !important;
      max-width: 60% !important;
    }

    .started {
      margin-bottom: 70px;
    }
  }
}
