.header {
  min-height: 76px;
  background-color: rgba(4, 3, 51, 0.2);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;

  img {
    margin: auto 40px;
  }

  .menu {
    flex: 1 2 auto;
    list-style: none;
    display: flex;
    flex-flow: row-reverse;

    li {
      color: white;
      margin: auto 30px;
    }
  }

  .fa.fa-bars {
    display: none;
    font-size: 32px;
    margin-right: 30px;
    cursor: pointer;
  }

  .igo {
    width: 210px;
    height: 44px;
    // font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    background-color: #524fc3;
    border: none;
    margin: 20px;
    white-space: nowrap;
  }
}
