.header {
  min-height: 76px;
  background-color: #946f09;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  img {
    margin: auto 40px;
  }
  .menu {
    flex: 1 2 auto;
    list-style: none;
    display: flex;
    flex-flow: row-reverse;
    li {
      color: white;
      margin: auto 30px;
    }
  }
  .igo {
    width: 210px;
    height: 44px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    background-color: #524fc3;
    border: none;
    margin: 20px;
  }
}