@media only screen and (max-width: 900px) {
  .header {
    justify-content: space-between;
    flex-flow: row nowrap !important;

    .menu {
      display: none !important;
    }

    .igo {
      display: none !important;
    }

    .fa-bars {
      display: block !important;
    }
  }
}

// @media only screen and (min-width: 992px) {}
// @media only screen and (min-width: 1200px) {}
