.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .copyright {
    margin: auto 32px;
  }
  .menu {
    flex: 2 2 auto;
    display: flex;
    justify-content: center;
    li {
      margin: auto 20px;
    }
  }
}