@media only screen and (max-width: 900px) {
  .footer {
    position: static !important;
    flex-flow: column-reverse nowrap !important;
    align-items: stretch !important;

    .menu {
      transform: none !important;
    }

    ul {
      flex-flow: column nowrap !important;
      padding: 0 !important;
      margin: 32px !important;

      li {
        margin: 12px 0 !important;
      }
    }

    .copyright {
      padding-bottom: 30px !important;
    }
  }
}
