$co-ma: 10px;
$result-title: #37366d;

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/HelveticaNeue-01.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.al-container {
  background: url('../../assets/img/others/search.jpg');
  background-size: cover;
  min-height: 80vh;
  justify-content: center;
  align-items: center;

  .al-mode {
    margin-top: 30px;
    margin-bottom: 15px;

    button {
      color: #444;
      width: 104px;
      height: 44px;
      border-radius: 22px;
      background-color: transparent;
      box-shadow: none;
      font-size: 12px;
      font-weight: bold;
    }

    .active {
      background-color: #fff;
      border: solid 3px #ecbd13;
    }
  }

  .al-config {
    background: url('../../assets/img/others/registration.png');
    background-size: cover;
    min-height: 220px;
    width: 100%;
    padding: 75px 110px 65px 110px;
  }
}

.al-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 247, 247, 0.9);
  color: #444;
  width: 100%;

  h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 27px;
    font-weight: 500;
    font-style: italic;
    font-stretch: condensed;
    text-transform: uppercase;
    line-height: 1.26;
    letter-spacing: normal;
    color: #fff;
    margin-top: 30px;
    text-align: left;
  }

  .fa {
    margin: auto 10px;
    color: #ccc;
  }
}

.al-column {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  flex: 2;
}

.al-exchange {
  flex: 0 !important;
  margin: 1px 30px;
}

.al-comp {
  flex: 2;

  .al-title {
    margin: $co-ma;
    font-size: 12px;
  }

  .al-num {
    max-width: 100px;
    min-width: 100px;
    flex: 0.5;

    input {
      width: 80%;
    }
  }

  .al-input {
    background: white;
    border: solid 1px #d5890a;
    margin: $co-ma;
    padding: 10px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;

    div {
      flex: 2;

      input {
        width: 100%;
      }
    }

    .fa-times {
      &:hover {
        color: $result-title;
        transition-delay: 0.3s;
        transition-timing-function: ease-in-out;
      }
    }

    input {
      background: transparent;
      border: none;
      outline: none;
    }
  }
}

.mark {
  padding: 0 !important;
}

.searchbtn {
  margin: 25px auto;
}

.result {
  width: 100%;
  margin-bottom: 67px;
}

.al-2 {
  align-items: flex-start;
  flex-wrap: wrap;
}

.al-searchbtn {
  padding-right: 10px;
  margin-left: 25px;
  text-align: right;
  flex: 3;

  button {
    width: 180px;
    font-size: 15px;
    text-transform: initial;
    background-color: #1662d2;
  }
}

.al-top {
  margin: $co-ma;
}

// div[class^='MuiFormGroup'] {
//   flex-flow: row nowrap;

//   label {
//     margin-right: 45px;
//   }
// }

// span[class^='MuiRadio'] {
//   color: #37366d;
// }

.al-top {
  div[role="radiogroup"] {
    display: flex;
    flex-flow: row nowrap;
  }
  span {
    font-family: HelveticaNeue, serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    // color: #1662d2;
    color: #794b01;
  }
  input[type="radio"] {
    color: #1662d2;
  }
}


.al-again {
  display: flex;
  justify-content: space-between;
  margin: 15px;

  .retry {
    color: white;
  }
}

.al-comp.al-num {
  flex: 0.5;
}
.al-comp .al-input input {
  flex: 2;
}

.al-inputs {
  align-items: flex-start;
}

@media only screen and (max-width: 5000px) {
  .al-container {
    border-top: 5px red solid;
  }
  .al-dates, .al-others, .al-dandn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .al-places .al-input:not(.mark) {
    min-width: 212px;
  }
}

@media only screen and (max-width: 1800px) {
  .al-container {
    border-top: 5px blue solid;
  }
}

@media only screen and (max-width: 1200px) {
  .al-container {
    border-top: 5px green solid;
  }
  .al-exchange {
    display: none !important;
  }
  .al-others, .al-dandn {
    flex-wrap: wrap;
  }
  .al-others {
    flex-direction: column;
  }
  .al-dates {
    flex-grow: 1;
  }
  .al-btnwrap {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 900px) {
  .al-container {
    border-top: 5px yellow solid;
  }
  .al-places, .al-dates {
    flex-wrap: wrap;
  }
  .al-dates {
    width: 100%;
  }
  .al-date {
    flex: 1;
  }
  .al-inputs {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .al-container {
    border-top: 5px red solid;
  }
}